/* 1. Imports MUST be first (except @charset if present) */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Outfit:wght@100..900&family=Prata&display=swap');
@import "tailwindcss";

/* 2. Tailwind base, components, utilities */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* 3. Your custom styles */
a.active hr {
    display: block;
}

* {
    font-family: Outfit;
}

.lato-regular {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.lato-bold {
    font-family: "Lato", sans-serif;
    font-weight: 700;
    font-style: normal;
}

.prata-regular {
    font-family: "Prata", serif;
    font-weight: 400;
    font-style: normal;
}

::-webkit-scrollbar {
    display: none;
}

@media (max-width: 640px) {
    a.active {
        background-color: black;
        color: white;
    }
}